[user]
    name = guppy0130
    email = guppy0130@yahoo.com
    signingkey = 9BC659A8D852FAE15936F18AB12A0C868D6866AC
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
    gpgsign = true
[core]
    excludesfile = ~/.gitignore
    ignorecase = false
    autocrlf = input
    autoeol = lf
    eol = lf
    editor = nvim
    pager = delta
[gpg]
    # program = C:\\Program Files (x86)\\gnupg\\bin\\gpg.exe
[status]
    submoduleSummary = true
[alias]
    graph = log --graph --exclude refs/branchless/*
    hotfix = !git commit --amend --no-edit && git push -f
    co = checkout
    hfx = hotfix
    hfxa = !git commit -a --amend --no-edit && git push -f
    go = graph --pretty=oneline
[push]
    default = current
[init]
    defaultBranch = main
[rebase]
    autoStash = true
[pull]
    rebase = true
    twohead = ort
[fetch]
    prune = true
[diff]
    colorMoved = zebra
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[tag]
    sort = -version:refname  # sort tags in order, biggest first
[delta]
    navigate = true  # use n and N to move between diff sections
    features = side-by-side unobtrusive-line-numbers decorations zebra-dark
    whitespace-error-style = 22 reverse
    hyperlinks = true
[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#444444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#444444"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
